global
    log stdout format raw local0 debug
    maxconn 2000

defaults
    log global
    mode tcp
    option tcplog
    log global

    timeout connect 10s
    timeout client 1m
    timeout server 1m

#
# API (6443)
#
frontend fe_api
    bind *:6443

    tcp-request inspect-delay 1s
    tcp-request content accept if { req.ssl_hello_type 1 }

    use_backend be_sno2_api if { req.ssl_sni -i api.sno2.stolarek.org.pl }
    default_backend be_sno1_api

backend be_sno1_api
    server sno1 192.168.0.214:6443

backend be_sno2_api
    server sno2 192.168.0.215:6443

#
# HTTPS (443)
#
frontend fe_https
    bind *:443

    tcp-request inspect-delay 1s
    tcp-request content accept if { req.ssl_hello_type 1 }

    use_backend be_sno2_https if { req.ssl_sni -m end .apps.sno2.stolarek.org.pl }
    default_backend be_sno1_https

backend be_sno1_https
    server sno1 192.168.0.214:443

backend be_sno2_https
    server sno2 192.168.0.215:443

#
# HTTP (80)
#
frontend fe_http
    bind *:80
    mode http

    acl sno2 hdr(host) -m end .apps.sno2.stolarek.org.pl

    use_backend be_sno2_http if sno2
    default_backend be_sno1_http

backend be_sno1_http
    mode http
    server sno1 192.168.0.214:80

backend be_sno2_http
    mode http
    server sno2 192.168.0.215:80
